.result-boxok ul,.result-boxok1 ul,.result-boxok2 ul,.result-boxok3 ul
{
    border-top: 1px solid;
    padding: 7.5px 5px;
}
.result-boxok ul li,.result-boxok1 ul li,.result-boxok2 ul li,.result-boxok3 ul li
{
    list-style: none;
    font-size: small;
    border-radius: 3px;
    padding:7.5px 5px;
    cursor: pointer;
}
.result-boxok ul li:hover,.result-boxok1 ul li:hover,.result-boxok2 ul li:hover,.result-boxok3 ul li:hover
{
    background:white;
    color: #8e2052;
}
.result-boxok,.result-boxok1,.result-boxok2,.result-boxok3
{
   /* max-height: 200px;
    overflow-y: scroll;*/
    position: absolute;
    background-color: #8E2157;
    color: white;
    width: 216px;
    z-index: 1000;
}